---
name: test

"on": [pull_request, push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v1
        with:
          python-version: "3.8"
      - uses: actions/checkout@v2
      - run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login docker.pkg.github.com -u ne-sachirou --password-stdin
          docker-compose pull web || true
          ./tasks.py build test
          docker-compose push web
        env:
          DOCKER_BUILDKIT: 1
